@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@400;500;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alegreya:wght@400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap");

@font-face {
  font-family: "Alegreya";
  src: url("/public/fonts/Alegreya-VariableFont_wght.ttf");
  font-style: medium;
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: "Space Mono";
  src: url("/public/fonts/SpaceMono-Regular.ttf");
  font-style: normal;
  font-weight: normal;
  font-display: swap;
}

* {
  font-family: "Poppins", sans-serif;
}

button.rec-dot {
  background-color: rgb(255, 255, 255);
  /* box-shadow: 0 0 1px 3px rgba(235, 16, 16, 0.5); */
}

button.rec-dot:hover,
button.rec-dot:active,
button.rec-dot:focus {
  box-shadow: 0 0 1px 3px rgba(247, 172, 172, 0.5);
}

.rec.rec-arrow {
  background-color: rgb(255, 255, 255);
  border: none;
  box-shadow: none;
  color: #ec008c;
}

.rec.rec-arrow:hover,
.rec.rec-arrow:active,
.rec.rec-arrow:focus {
  background-color: rgb(236, 232, 232);
}

::-webkit-scrollbar {
  width: 2px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: linear-gradient(#2491f7, #67c5fc);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(#2491f7, #67c5fc);
}
.grid_layout {
  display: grid;
  grid-template-columns: 0fr 1fr 5fr 0fr;
  gap: 1rem;
}

.grid_layout_item1 {
  grid-column: 2/3;
}
.grid_layout_item2 {
  grid-column: 3/4;
}

.grid_accordian {
  display: grid;
  grid-template-columns: 0.01fr 1fr 0.01fr;
  gap: 2px;
}

.font_alegreya {
  font-family: "Alegreya", serif;
}

.grid_builder_layout {
  display: grid;
  grid-template-columns: 0.01fr 1fr 1fr 0.01fr;
}

.grid_builder_editor {
  grid-column: 2/3;
}

.grid_builder_template {
  grid-column: 3/4;
}

.grid_template_stylish {
  display: grid;
  grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
}

.grid_template_stylish_basics_ex_ed {
  grid-column: 1/2;
}

.grid_template_stylish_skills_award {
  grid-column: 2/3;
}